<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Locales', locales_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @locale.id, @locale %>
    </li>
    <li class="breadcrumb-item active">
      <span>Editing</span>
    </li>
  </ol>
</nav>
<%= render 'form', locale: @locale %>
