<% if notice.present? %>
  <div class="alert alert-info" role="alert">
    <%= notice %>
  </div>
<% end %>
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Locales</li>
  </ol>
</nav>
<div class="btn-toolbar mb-3" role="toolbar">
  <div class="btn-group ms-auto" role="group">
    <%= link_to "New Locale", new_locale_path, class: %w[btn btn-primary] %>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @locales.each do |locale| %>
        <tr>
          <td><%= link_to locale.value, locale %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
